@baseFontSize: 375px/10/1rem;
:root:root {
    --van-red: #f05656;
    --van-blue: #2984ff;
    --van-green: #67c884;
    --van-orange: #ff8e46;
    --van-primary-color: #f05656;
    --van-gold-color: #f0d294;
    --van-text-color: #333;
    --van-text-color-2: #666;
    --van-text-color-3: #999;
    --van-border-color: #eee;
    --van-background: #f9f6f3;
    --van-popup-background: rgba(0, 0, 0, 0.7);
}