@baseFontSize: 375px/10/1rem;
@red: #f05656;
@blue: #2984ff;
@green: #67c884;
@orange: #ff8e46;
@white: #fff;
@glod: #f0d294;

@primary: #f05656;
@danger: @red;
@success: @green;
@warning: @orange;

@text-primary: #333;
@text-regular: #666;
@text-secondary: #999;
@border-color-base: #eee;

@background-base: #f9f6f3;

@font-size-xs: 10px;
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 16px;
@font-size-xlg: 18px;
@font-size-xxlg: 20px;
